@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* font-family: 'Anton', sans-serif; */
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* Settings */
* {
    margin: 0;
    padding: 0;
}
img {
    border: none;
    vertical-align: bottom;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: 'Anton', sans-serif;
    overflow: hidden;
}
.wrap {
    position: relative;
    width: 100%;
    height: 100vh;
}

/* section setting */
#main {
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 1;
}
#profile {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
}
#daecheon {
    position: absolute;
    background-color: #8EA0E0;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
}
#knotted {
    position: absolute;
    background-color: #FFEB8F;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
}
#jennie {
    position: absolute;
    background-color: #F7A7BB;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0;
}


/* main */
#main>article {
    position: relative;
    width: 100%;
    height: 100vh;
}
.name {}
.title {
    position: absolute;
    width: 700px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -250px;
}
.title>p {
    display: block;
    text-align: center;
    font-family: 'Happiness-Sans-Title';
    font-size: 18px;
}
.rabbit {}
.mainrab {
    position: absolute;
    background: url(img/mainani.gif) center no-repeat;
    background-size: contain;
    width: 550px;
    height: 350px;
    left: 50%;
    top: 50%;
    margin-top: -140px;
    margin-left: -275px;
    opacity: 1;
}
.rab1 {
    position: absolute;
    background: url(img/grayR.png) center no-repeat;
    background-size: contain;
    width: 550px;
    height: 350px;
    left: 50%;
    top: 50%;
    margin-top: -140px;
    margin-left: -275px;
    opacity: 0;
}
.rab2 {
    position: absolute;
    background: url(img/purpleR.png) center no-repeat;
    background-size: contain;
    width: 550px;
    height: 350px;
    left: 50%;
    top: 50%;
    margin-top: -140px;
    margin-left: -275px;
    opacity: 0;
}
.rab3 {
    position: absolute;
    background: url(img/yellowR.png) center no-repeat;
    background-size: contain;
    width: 550px;
    height: 350px;
    left: 50%;
    top: 50%;
    margin-top: -140px;
    margin-left: -275px;
    opacity: 0;
}
.rab4 {
    position: absolute;
    background: url(img/pinkR.png) center no-repeat;
    background-size: contain;
    width: 550px;
    height: 350px;
    left: 50%;
    top: 50%;
    margin-top: -140px;
    margin-left: -275px;
    opacity: 0;
}

.nav {
    cursor: pointer;
}
.btn1 {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #d9d9d9;
    border-radius: 50%;
    top: -8%;
    left: -4%;
}
.btn1>p {
    display: block;
    font-size: 20px;
    margin-top: 60%;
    margin-left: 50%;
}

.btn2 {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #8EA0E0;
    border-radius: 50%;
    bottom: -8%;
    left: -4%;
}
.btn2>p {
    display: block;
    font-size: 20px;
    margin-top: 36%;
    margin-left: 36%;
}

.btn3 {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #FFEB8F;
    border-radius: 50%;
    top: -8%;
    right: -4%;
}
.btn3>p {
    display: block;
    font-size: 20px;
    margin-top: 60%;
    margin-left: 10%;
}
.btn4 {
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #F7A7BB;
    border-radius: 50%;
    bottom: -8%;
    right: -4%;
}
.btn4>p {
    display: block;
    font-size: 20px;
    margin-top: 36%;
    margin-left: 16px;
}

/* project */
.bar {
    display: block;
    background-color: #d9d9d9;
    width: 90%;
    height: 70px;
    margin-left: 5%;
    margin-top: 3%;
}
.bar ul {
    display: flex;
    width: 35%;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}
.bar li {
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 23px;
    font-size: 20px;
    z-index: 1;
}
.bar span {
    position: absolute;
    left: -14px;
    top: 0;
    width: 150%;
    height: 50%;
    margin-top: 6px;
    transform: skewX(-15deg);
    opacity: 0.4;
    z-index: 0;
}
.bar li:nth-child(1) span{
    background-color: #fff;
}
.bar li:nth-child(2) span {
    background-color: #8EA0E0;
}
.bar li:nth-child(3) span {
    background-color: #FFEB8F;
}
.bar li:nth-child(4) span {
    background-color: #F7A7BB
}
.bar li:hover span {
    z-index: -1;
}

.home img {
    cursor: pointer;
    display: block;
    width: 45px;
    height: 45px;
    margin-top: -45px;
    margin-left: 95%;
}
.inner {
    background-color: #fff;
    width: 90%;
    height: 80%;
    margin-left: 5%;
    display: flex;
}
.preImg {
    display: flex;
    position: relative;
    width: 50%;
    height: auto;
    align-items:center;
    
}
.preImg img:nth-child(1) {
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 1;
    z-index: 2;
    left: 0;
    transition: all 0.8s;
}
.preImg img:nth-child(2) {
    position: absolute;
    width:110%;
    height: auto;
    opacity: 0;
    left: 0;
    transition: all 0.8s;
    margin-top: 21%;
}
.preImg:hover img:nth-child(1) {
    opacity: 0;
} 
.preImg:hover img:nth-child(2) {
    opacity: 1;
} 
.detail {
    display: block;
    width: 50%;
    height: 100%;
    padding: 50px 40px;
}
.detail p {
    display: block;
    font-size: 50px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 50px;
}
.detail span {
    display: block;
    text-align: center;
    font-family: 'Happiness-Sans-Title';
    line-height: 2;
    font-size: 18px;
    color: #333;
    margin-top: 30px;
}
.view {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30%;
}
.view div {
    cursor: pointer;
    background-color: #000;
    margin-left: 50px;
    padding: 20px 40px;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #eee;
}
.view a {
    font-size: 18px;
    letter-spacing: 1px;
    color: #eee;
}
.view div:hover {
    background-color: #d9d9d9;
    color: #000;
}

.popup {
    position: fixed;
    width: 60%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 100;
}
.popup p {
    position: absolute;
    width: 100%;
    height: 90%;
    left: 50%;
    top: 0;
    margin-top: 60px;
    margin-left: -200px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.popup img {
    width: 100%;
    height: auto;
}
.exit {
    position: absolute;
    right: -30%;
    top: 14px;
    background-color: #999;
    width: 45px;
    height: 45px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition: all 0.3s;
}
.exit:hover {
    background-color: #f02558;
}
.exit img {
    width: 30px;
    height: 30px;
    margin-top: 7px;
    margin-left: 7px;
}
.link {
    position: absolute;
    right: -25%;
    top: 14px;
    background-color: #d9d9d9;
    width: 45px;
    height: 45px;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition: all 0.3s;
}
.link:hover {
    background-color: #8EA0E0;
}
.link img {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-left: 5px;
}
/* profile */
.iam {
    display: flex;
    width: 100%;
}
.iamL {
    width: 40%;
    height: 100%;
    margin: 50px 30px;
}
.contact {
    width: 40%;
    margin-top: 30px;
    margin-left: 100px;
}

.contact li {
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-top: 14px;
}
.contact li>img {
    width: 45px;
    height: 45px;
    transform: rotate(-20deg);
    margin-left: -40px;
}
.contact li:nth-child(2) {
    font-family: 'Happiness-Sans-Title';
    font-size: 40px;
}
.iamR {
    width: 60%;
    margin: 80px;
}
.dream ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.dream img {
    width: 100px;
    height: 100px;
}