@charset "UTF-8";

/* color *
    #A0CAE0 - skyblue
    #FF5F95 - pink
    #FFFDE7 - light yellow
    #FFEB8F - yellow */

/* font */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular';
}
* {
    margin: 0;
    padding: 0;
}

img {
    border: none;
    vertical-align: bottom;
}
ul,ol {
    list-style: none;
}
li {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: #000;
}
.Bg {
    background-color: #FFFDE7;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#wrap {
    position: relative;
    width: 768px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    z-index: 0;
    overflow: hidden;
}
h2 {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 50px;
}

.topBtn {
    position: fixed;
    right: 30%;
    bottom: 20px;
    z-index: 100;
}


/* header */
.headerMenu {
    position: fixed;
    width: 768px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A0CAE0;
    padding: 10px 0;
    z-index: 10;
}
.menu_toggle_btn {
    background: url(img/menu_toggle_btn.png) no-repeat center center;
    background-size: contain;
    width: 30px;
    height: 30px;
    margin-left: 30px;
    z-index: 20;
    cursor: pointer;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #A0CAE0;
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: none;
}
.util {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    cursor: pointer;
}
.util li {
    margin-right: 30px;
}
.util li span {
    display: block;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 12px;
}
.util li img {
    display: block;
    width: 40px;
    height: 40px;
}
.util li:hover {
    opacity: 0.7;
}


.menuList {
    margin: 50px 30px;
}
.menuList li {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
.menuList li:hover {
    text-decoration: underline;
}


.logo {}
.logo img {
    width: 180px;
    height: auto;
}
.my {
    text-align: center;
    margin-right: 30px;
}
.my img {
    display: block;
    width: 30px;
    height: 30px;

}
.my span {
    font-size: 12px;
    display: block;
}



/* Background */
.Bg {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.dnani {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #FFFDE7;
    overflow: hidden;
    pointer-events: none;
}
.p1 img {
    position: absolute;
    top: -3%;
    left:0;
    width: 300px;
    height: 250px;
    animation: ani 5s linear infinite;
}
.p2 img {
    position: absolute;
    top: 0;
    left: 12%;
    width: 300px;
    height: 250px;
    animation: ani2 6s linear infinite;
}
.p3 img {
    position: absolute;
    top: 16%;
    left: 6%;
    width: 300px;
    height: 250px;
    animation: ani 8s linear infinite;
}
.p4 img {
    position: absolute;
    top: 34%;
    left: 0;
    width: 300px;
    height: 250px;
    animation: ani2 6s linear infinite;
}
.p5 img {
    position: absolute;
    top: 32%;
    left: 12%;
    width: 300px;
    height: 250px;
    animation: ani 5s linear infinite;
}
.p6 img {
    position: absolute;
    top: 50%;
    left: 6%;
    width: 300px;
    height: 250px;
    animation: ani2 6s linear infinite;
}
.p7 img {
    position: absolute;
    top: 66%;
    left: -2%;
    width: 300px;
    height: 250px;
    animation: ani 5s linear infinite;
}
.p8 img {
    position: absolute;
    top: 70%;
    left: 12%;
    width: 300px;
    height: 250px;
    animation: ani2 5s linear infinite;
}

.p9 img {
    position: absolute;
    top: -3%;
    right: 0;
    width: 300px;
    height: 250px;
    animation: ani2 6s linear infinite;
}
.p10 img {
    position: absolute;
    top: 0;
    right: 12%;
    width: 300px;
    height: 250px;
    animation: ani 5s linear infinite;
}
.p11 img {
    position: absolute;
    top: 16%;
    right: 6%;
    width: 300px;
    height: 250px;
    animation: ani2 5s linear infinite;
}
.p12 img {
    position: absolute;
    top: 34%;
    right: 0;
    width: 300px;
    height: 250px;
    animation: ani2 8s linear infinite;
}
.p13 img {
    position: absolute;
    top: 36%;
    right: 12%;
    width: 300px;
    height: 250px;
    animation: ani 5s linear infinite;
}
.p14 img {
    position: absolute;
    top: 53%;
    right: 6%;
    width: 300px;
    height: 250px;
    animation: ani2 6s linear infinite;
}
.p15 img {
    position: absolute;
    top: 70%;
    right: 0px;
    width: 300px;
    height: 250px;
    animation: ani 5s linear infinite;
}
.p16 img {
    position: absolute;
    top: 70%;
    right: 14%;
    width: 300px;
    height: 250px;
    animation: ani2 5s linear infinite;
}
@keyframes ani {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(12px);
    }
    100% {
        transform: translateY(0px);
    }
}
@keyframes ani2 {
    0% {
        transform: translateY(8px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(8px);
    }
} 
/* main */
#main {
    background: url(img/mainCloud_bg.png) no-repeat center center;
    background-size: cover;
    display: block;
    width: 100%;
    height: 800px;
}
.mainImg {
    display: block;
    width: 80%;
    height: auto;
    padding-top: 300px;
    margin-left: 80px;
}
.reservation {
    display: block;
    width: 30%;
    float: right;
    margin-top: -500px;
    padding-right: 70px;
    opacity: 0.9;
    cursor: pointer;
}
.reservation:hover {
    opacity: 1;
    filter: drop-shadow(3px 3px 5px gray);
}
/* about */
#about {
    width: 100%;
    height: auto;
}
.knotted {}
.knotted>img {
    display: block;
    width: 100%;
}
.intro {
    position: relative;
    width: 100%;
    height: 300px;
}
.intro .bLogo {
    position: absolute;
    right: 200px;
    top: -30px;
    width: 200px;
    height: auto;
    opacity: 0.1;
    z-index: -1;
}
.Ysmile {
    position: absolute;
    right: 50px;
    bottom: -100px;
    width: 280px;
    height: auto;
    opacity: 0.4;
    z-index: -1;
}
.intro p {
    font-size: 20px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
}
.intro>div {
    display: block;
    width: 75%;
    height: auto;
    margin-left: 60px;
    line-height: 2;
    font-size: 14px;
}

/* menu */
#menu {}
.dnlist {
    position: relative;
    width: 100%;
    height: 150px;
}
.dn {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: start;
    animation: dn 60s linear infinite;
}
.dn li {
    background-color: #F7C8DA;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 20px;
}
.dn li img {
    width: 140px;
    height: 140px;
}
.dn li:hover {
    background-color: #FFEB8F;
}
@keyframes dn {
    0% {
        left: 0;
    }
    50% {
        
        left: -900px;
    }
    100% {
        left: 0;
    }
}
.cakelist {
    position: relative;
    width: 100%;
    height: 200px;
}
.cake {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 50px;
    background-color: #F7C8DA;
    padding: 10px 0;
    right: 0;
    animation: cake 60s linear infinite;
}
.cake li {
    background-color: #fff;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    transition: all 0.8s;
}
.cake li img {
    width: 140px;
    height: 140px;
}
.cake li:hover {
    background-color: transparent;
}
@keyframes cake {
    0% {
        right: 0;
    }
    50% {
        right: -590px;
    }
    100% {
        right: 0;
    }
}

.moreBtn {
    display: block;
    cursor: pointer;
    text-align: center;
    border: #A0CAE0 2px solid;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    margin-top: 35px;
    padding-top: 10px;
    transition: all 0.6s;
    font-size: 14px;
}
.moreBtn:hover {
    background-color: #A0CAE0;
}

/* goods */
#goods {}
.banner {
    width: 100%;
    height: 200px;
    position: relative;
}
.banner ul {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(0);
}
.banner li {}
.banner img {
    width: 768px;
    height: auto;
}

.bestItem {
    margin-top: 50px;
}
.bestItem h3 {
    text-align: center;
}

.product {
    position: relative;
    width: 100%;
    height: 350px;
    
}
.product ul {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    transition: all 0.8s;
}
.product li {}
.product a {
    display: block;
    position: relative;
    margin: 20px 10px;
    text-align: center;
    padding: 20px 0;
}
.product li:hover a{
    filter: drop-shadow(3px 3px 5px gray);
}
.goodsImg {
    width: 200px;
    height: auto;
    border: #A0CAE0 solid 5px;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}
.cart {
    position: absolute;
    width: 25px;
    height: 27px;
    bottom: 27px;
    right: 10px;
    opacity: 0.6;
}
.cart:hover {
    opacity: 1;
}
.proinfo {
    position: absolute;
    width: 100%;
    height: auto;
    bottom: -50px; 
    left: 0;
    background-color: #A0CAE0;
    width: 100%;
    box-sizing: border-box;
    border-radius: 0 0 10px 10px;
    padding: 10px 0;
}

.proinfo p {
    line-height: 2;
}
.product span {
    font-size: 14px;
}
.bestItem>.moreBtn {
    margin-top: 80px;
    border: #F7C8DA 2px solid;
}
.bestItem>.moreBtn:hover {
    background-color: #F7C8DA ;
}
.btn {
    display: block;
    width: 100%;
    height: 30px;
    cursor: pointer;
}
.left {
    position: absolute;
    left: 10px;
    top: 150px;
    font-size: 40px;
    color: #fff;
    filter: drop-shadow(1px 1px 2px #ccc);
}
.right {
    position: absolute;
    font-size: 40px;
    right: 10px;
    top: 150px;
    color: #fff;
    filter: drop-shadow(1px 1px 2px #ccc);
}
.btn i:hover {
    filter: drop-shadow(3px 3px 5px #333);
}
/* store */
#store {
    width: 100%;
    height: 800px;
}
.storeTitle {}

.storeList {
    width: 100%;
    height: 750px;
}
.container {
    position: relative;
    display: block;
    float: left;
    margin: 17px 17px;
}
.container img {
    display: block;
    width: 350px;
    height: 350px;
}
.overlay {
    cursor: pointer;
    position: absolute;
    text-align: center;
    left: 0;
    top: 0;
    width: 350px;
    height: 350px;
    opacity: 0;
    transition: all 0.8s;
}
.overlay:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.text {
    color: #fff;
    display: block;
    text-align: center;
    margin-top: 150px;
}
.text>h3 {}
.text>p {
    font-size: 14px;
    line-height: 2;
}
.text>span {}


/* sns */
#sns {
    width: 100%;
    height: 800px;
}
.snsTitle {
    padding-top: 50px;
}
.insta span {
    display: block;
    text-align: center;
    text-decoration: underline;
    font-size: 14px;
}
.insta {
    position: relative;
    width: 100%;
    height: 160px;
}
.rabbit {
    position: absolute;
    width: 250px;
    height: auto;
    left: 0;
    top: -20px;
    z-index: -1;
}
.bear {
    position: absolute;
    width: 250px;
    height: auto;
    right: 0;
    top: -20px;
    z-index: -1;
}
.followBtn {
    display: block;
    background-color: #A0CAE0;
    width: 100px;
    padding: 10px 8px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 20px 0;
    margin-left: 330px;
    cursor: pointer;
}
.followBtn:hover {
    opacity: 0.6;
}
.snsList {
    width: 100%;
    height: 800px;
    display: block;
    margin-left: 18px;
}
.snsCon {
    position: relative;
    display: block;
    float: left;
    margin: 5px 7px;
}
.snsCon img {
    width: 230px;
    height: 230px;
}
.snsOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 230px;
    height: 230px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.8s;
}
.snsOverlay:hover {
    opacity: 1;
}
.icon {
    display: block;
    margin-top: 106px;
    margin-left: 92px;
}
.icon i {
    cursor: pointer;
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
    opacity: 0.8;
}
.icon i:hover {
    opacity: 1;
}

/* qna */
#qna {
    display: block;
    width: 100%;
    height: 650px;
    background: url(img/qnabgMove.gif) center center no-repeat;
    background-size: cover;
    margin-top: 350px;
}
#qna form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 280px;
}

#qna input {
    padding: 20px 20px;
    width: 40%;
    border-radius: 10px;
    background-color: #d9d9d9;
    border: none;
}
#qna input:focus{
    outline: none;
}

#qna input[type='text']::placeholder {
    color: #333;
    font-size: 18px;
    text-align: center;
    opacity: 0.6;
}
#qna i {
    font-size: 24px;
    margin-left: 10px;
    opacity: 0.6;
}
#qna i:hover {
    opacity: 1;
} 

/* footer */

footer {
    display: block;
    width: 100%;
    height: 120px;
    background: url(img/footerBG.png) center center;
    background-size: contain;
    text-align: center;
}
.copy {
    display: block;
    padding-top: 45px;
    opacity: 0.8;
}
footer span {
    font-size: 14px;
}
footer p {
    color: #333;
    font-size: 12px;
    margin-top: 10px;
}



/* ****Media Query**** */
/* 1280px or less */
@media(min-width: 1024px) and (max-width: 1280px){
    .topBtn {
        right: 20%;
        bottom: 5%;
    }
    
    
    
    /* Background */
    .p1 img {
        top: -3%;
        left:-10%;
    }
    .p2 img {
        top: 0;
        left: 3%;
    }
    .p3 img {
        top: 15%;
        left: -3%;
    }
    .p4 img {
        top: 34%;
        left: -10%;
    }
    .p5 img {
        top: 32%;
        left: 2%;
        }
    .p6 img {
        top: 50%;
        left: -3%;
    }
    .p7 img {
        top: 66%;
        left: -8%;
    }
    .p8 img {
        top: 70%;
        left: 1%;
    }
    
    .p9 img {
        top: -3%;
        right: -10%;
    }
    .p10 img {
        top: 0;
        right: 0;
    }
    .p11 img {
        top: 14%;
        right: -5%;
    }
    .p12 img {
        top: 34%;
        right: -10%;
    }
    .p13 img {
        top: 30%;
        right: 0;
    }
    .p14 img {
        top: 53%;
        right: -6%;
    }
    .p15 img {
        top: 70%;
        right: -10%;
    }
    .p16 img {
        top: 72%;
        right: 0;
    }
}

/* 768px ~ 1024px */
@media(min-width:768px) and (max-width: 1024px){
    .topBtn {
        position: fixed;
        right: 5%;
        bottom: 5%;
        z-index: 100;
    }
    footer {
        background-size: cover;
    }
}

/* 512px ~ 767px*/
@media(min-width:512px) and (max-width:767px){
    .Bg {
        display: none;
    }
    #wrap {
        width: 100%;
        height: auto;
    }
    h2 {
        margin-top: 80px;
        margin-bottom: 50px;
        text-align: center;
    }
    
    .topBtn {
        position: fixed;
        right: 5%;
        bottom: 5%;
        z-index: 100;
    }
    
    
    /* header */
    .headerMenu {
        width: 100%;
        height: auto;
    }
    .menu_toggle_btn {
        width: 30px;
        height: 30px;
    }
    .util li {
        margin-right: 25px;
    }
    .util li img {
        width: 30px;
        height: 30px;
    }
    
    .my img {
        width: 25px;
        height: 25px;
    
    }
    
    
    
    /* Background */
    .Bg {
        display: none;
    }
    .dnani {
        display: none;
    }
    /* main */
    #main {
        width: 100%;
        height: 800px;
    }
    .mainImg {
        width: 90%;
        height: auto;
        padding-top: 300px;
        margin-left: 0;
    }
    .reservation {
        width: 40%;
        float: right;
        margin-top: -500px;
        padding-right: 20px;
    }
    /* about */
    .intro {
        position: relative;
        width: 100%;
        height: 350px;
    }
    .intro .bLogo {
        position: absolute;
        right: 10%;
        top: -30px;
        width: 230px;
        height: auto;
    }
    .Ysmile {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 200px;
        height: auto;
    }
    
    .intro p {
        font-size: 16px;
        text-align: center;
        margin-left: 0;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    
    
    
    .moreBtn {
        margin-top: 30px;
    }
    
    /* store */
    #store {
        width: 100%;
        height: 650px;
    }
    .storeTitle {}
    
    .storeList {
        width: 100%;
        height: 520px;
        margin-left: 5px;
    }
    .container {
        margin: 4px 4px;
    }
    .container img {
        width: 240px;
        height: 240px;
    }
    .overlay {
        width: 240px;
        height: 240px;
    }
    .text {
        margin-top: 85px;
    }
    
    /* sns */
    #sns {
        width: 100%;
        height: 750px;
    }
    .insta {
        position: relative;
        width: 100%;
        height: 100px;
    }
    .rabbit {
        width: 160px;
        height: auto;
        left: -2%;
        top: -25px;
    }
    .bear {
        width: 160px;
        height: auto;
        right: -2%;
        top: -25px;
    }
    .followBtn {
        width: 80px;
        margin-left: 210px;
    }
    .snsList {
        width: 100%;
        height: 700px;
        display: block;
        margin-left: 15px;
    }
    .snsCon {
        margin: 4px 4px;
    }
    .snsCon img {
        width: 150px;
        height: 150px;
    }
    .snsOverlay {
        width: 150px;
        height: 150px;
    }
    .icon {
        margin-top: 51px;
        margin-left: 37px;
    }
    
    /* qna */
    #qna {
        display: block;
        width: 100%;
        height: 500px;
        margin-top: 0;
        background-size: contain;
    }
    #qna form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 225px;
    }
    
    #qna input {
        padding: 16px 16px;
    }
    
    #qna input[type='text']::placeholder {
        font-size: 16px;
    }
    #qna i {
        font-size: 20px;
    }
    
    /* footer */
    
    footer {
        width: 100%;
        height: 140px;
        background-size: cover;
    }
    .copy {
        display: block;
        padding-top: 60px;
    }
    footer span {
        font-size: 12px;
    }
}

/* 375px ~ 660px */
@media(min-width:375px) and (max-width:511px){
    .Bg {
        display: none;
    }
    #wrap {
        width: 100%;
        height: auto;
    }
    h2 {
        margin-top: 80px;
        margin-bottom: 50px;
    }
    
    .topBtn {
        position: fixed;
        right: 5%;
        bottom: 5%;
        z-index: 100;
    }
    
    
    /* header */
    .headerMenu {
        width: 100%;
        height: auto;
    }
    .menu_toggle_btn {
        width: 25px;
        height: 25px;
    }
    .util li {
        margin-right: 25px;
    }
    .util li img {
        width: 30px;
        height: 30px;
    }
    
    .menuList li {
        margin-top: 16px;
        font-size: 20px;
    }
    
    .logo img {
        width: 120px;
        height: auto;
        margin-top: 30px;
    }
    .my img {
        width: 25px;
        height: 25px;
    
    }
    
    
    
    /* Background */
    .Bg {
        display: none;
    }
    .dnani {
        display: none;
    }
    /* main */
    #main {
        width: 100%;
        height: 700px;
    }
    .mainImg {
        width: 100%;
        height: auto;
        padding-top: 350px;
        margin-left: 0;
    }
    .reservation {
        width: 50%;
        float: right;
        margin-top: -400px;
        padding-right: 0;
    }
    /* about */
    .intro {
        position: relative;
        width: 100%;
        height: 100px;
    }
    .intro .bLogo {
        position: absolute;
        right: 0;
        top: -30px;
        width: 200px;
        height: auto;
    }
    .Ysmile {
        display: none;
    }
    .intro p {
        font-size: 16px;
        text-align: center;
        margin-left: 0;
        margin-top: 50px;
        margin-bottom: 0;
    }
    .intro>div {
        display: none;
    }
    
    /* menu */
    .dn li {
        width: 120px;
        height: 120px;
        margin-left: 10px;
    }
    .dn li img {
        width: 120px;
        height: 120px;
    }
    .cakelist {
        position: relative;
        width: 100%;
        height: 200px;
    }
    .cake {
        margin-top: 20px;
        padding: 10px 0;
    }
    .cake li {
        width: 120px;
        height: 120px;
        margin-left: 10px;
    }
    .cake li img {
        width: 120px;
        height: 120px;
    }
    
    
    .moreBtn {
        margin-top: 30px;
    }
    
    /* goods */
    .banner {
        width: 100%;
        height: 150px;
    }
    .banner ul {
        display: flex;
        position: absolute;
        left: 0;
        top: 0;
        transform: translateX(0);
    }
    .banner li {}
    .banner img {
        width: 660px;
        height: auto;
    }
    
    .product {
        position: relative;
        width: 100%;
        height: 300px;
        
    }
    .goodsImg {
        width: 140px;
        height: auto;
    }
    .proinfo {
        padding: 12px 0;
    }
    
    .proinfo p {
        font-size: 14px;
    }
    .bestItem>.moreBtn {
        margin-top: 30px;
    }
    
    /* store */
    #store {
        width: 100%;
        height: 550px;
    }
    .storeTitle {}
    
    .storeList {
        width: 100%;
        height: 400px;
        margin-left: 5px;
    }
    .container {
        margin: 4px 5px;
    }
    .container img {
        width: 170px;
        height: 170px;
    }
    .overlay {
        width: 170px;
        height: 170px;
    }
    .text {
        margin-top: 50px;
    }
    
    /* sns */
    #sns {
        width: 100%;
        height: 650px;
    }
    .insta {
        position: relative;
        width: 100%;
        height: 100px;
    }
    .rabbit {
        width: 160px;
        height: auto;
        left: -2%;
        top: -25px;
    }
    .bear {
        width: 160px;
        height: auto;
        right: -2%;
        top: -25px;
    }
    .followBtn {
        width: 80px;
        margin-left: 150px;
    }
    .snsList {
        width: 100%;
        height: 800px;
        display: block;
        margin-left: 16px;
    }
    .snsCon {
        margin: 5px 4px;
    }
    .snsCon img {
        width: 110px;
        height: 110px;
    }
    .snsOverlay {
        width: 110px;
        height: 110px;
    }
    .icon {
        margin-top: 41px;
        margin-left: 27px;
    }
    
    /* qna */
    #qna {
        display: block;
        width: 100%;
        height: 400px;
        margin-top: 0;
        background-size: contain;
    }
    #qna form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 180px;
    }
    
    #qna input {
        padding: 16px 16px;
    }
    
    #qna input[type='text']::placeholder {
        font-size: 16px;
    }
    #qna i {
        font-size: 20px;
    }
    
    /* footer */
    
    footer {
        width: 100%;
        height: 120px;
        background-size: cover;
    }
    .copy {
        display: block;
        padding-top: 50px;
    }
    footer span {
        font-size: 12px;
    }
}